<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <a asp-controller="AllBooks" asp-action="Details" asp-route-id="6">
                <img class="d-block img-fluid" src="https://images-production.bookshop.org/spree/promo_banner_slides/desktop_images/79/original/MrsChristie-Bookshop.orgAds2.jpg?1609765228" alt="First slide">
            </a>
        </div>
        <div class="carousel-item">
            <a asp-controller="AllBooks" asp-action="Details" asp-route-id="7">
                <img class="d-block img-fluid" src="https://images-production.bookshop.org/spree/promo_banner_slides/desktop_images/80/original/One_Of_the_Good_Ones_Bookshop_2048x600_500kb.jpg?1609765388" alt="Second slide">
            </a>
        </div>
    </div>
    <br />
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>